page-login {
	button{
		border: 2px solid #7c7c7c ;
		border-radius: 5px;
	}
  .pw-forgot,
  .register-quick {
    color: #7c7c7c;
    font-size: 14px;
  }
  .btn-login {
    text-align: center;
    color: white;
    // height: 40px;
    font-size: 18px;
  }
  .wb-wx-btn-login{
	  text-align: center;
	  color: #7c7c7c;
	}
}
