<ion-content>

  <div class="star-bg" *ngIf="!isClose">
    <button class="star-btn" ion-button clear (click)="closeScore()" color="light"><ion-icon name="close"></ion-icon></button>
    <div class="star-words">
      <span>请为我们评分</span>
    </div>
    <div class="star-div" >
      <div *ngFor="let scoreMap of score.starMap; let indx = index" (click)="chooseStar($event)">
        <ion-icon name="star" color="chrome3" *ngIf="score.star>=indx+1;" style="padding-right: .5em" [attr.data-index]="indx+1"></ion-icon>
        <ion-icon name="star-outline" color="light" *ngIf="score.star<indx+1;" style="padding-right: .5em" [attr.data-index]="indx+1"></ion-icon>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="search-div">
      <ion-item no-lines>
        <ion-searchbar class="search-bar" placeholder="自我恢复能力" no-padding (ionFocus)="showSearch()">
        </ion-searchbar>
        <ion-icon name="ios-alarm-outline" class="icon-right" item-end (click)="show()"></ion-icon>
        <ion-icon name="ios-download-outline" class="icon-right" item-end (click)="show()"></ion-icon>
      </ion-item>
    </div>
    <div class="slide-img">
      <ion-slides #slider pager autoplay="2000" loop="true" (ionSlideDidChange)="onSlideChanged()" dir="ltr">
        <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background':'url(' +slide.imageUrl+')'}">
          <h2>{{slide.title}}</h2>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="classify">
      <div class="myGrid">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-icon name="md-archive" color="beauty1"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <ion-icon name="heart" color="beauty4"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <ion-icon name="md-pie" color="beauty2"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <ion-icon name="notifications" color="energized"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <span>最热</span></ion-col>
            <ion-col col-3>
              <span>最新</span></ion-col>
            <ion-col col-3>
              <span>直播</span></ion-col>
            <ion-col col-3>
              <span>分类</span></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <hr no-margin>
    <div class="parts-sift">
      <ion-item text-center no-lines>
        <h2>编辑<span class="sift-dot">&nbsp;·&nbsp;</span>精选</h2>
      </ion-item>
      <ion-grid no-margin>
        <ion-row>
          <ion-col col-6>
            <div class="sift-col">
              <img src="assets/img/slide1.jpeg" alt="tu">
              <span class="sift-label">视频</span>
              <ion-item no-lines no-padding no-margin>
                <span>[经典名著选读]：俳句的颠覆</span>
                <p>53463人观看</p>
              </ion-item>
            </div>
          </ion-col>
          <ion-col col-6>
            <div class="sift-col">
              <img src="assets/img/slide1.jpeg" alt="tu">
              <span class="sift-label">视频</span>
              <ion-item no-lines no-padding no-margin>
                <span>[经典名著选读]：俳句的颠覆</span>
                <p>53463人观看</p>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <div class="sift-col">
              <img src="assets/img/slide1.jpeg" alt="tu">
              <span class="sift-label">视频</span>
              <ion-item no-lines no-padding no-margin>
                <span>[经典名著选读]：俳句的颠覆</span>
                <p>53463人观看</p>
              </ion-item>
            </div>
          </ion-col>
          <ion-col col-6>
            <div class="sift-col">
              <img src="assets/img/slide1.jpeg" alt="tu">
              <span class="sift-label">视频</span>
              <ion-item no-lines no-padding no-margin>
                <span>[经典名著选读]：俳句的颠覆</span>
                <p>53463人观看</p>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>