
.light-theme {
  ion-content {
    background-color: #fff;
    
  }
 
  .toolbar-background {
    background-color: #fff;
  }
  $tabs-md-tab-text-color: grey;  
  $tabs-md-tab-text-color-active : #32db64;  
  $tabs-md-tab-icon-color : grey;  
  $tabs-md-tab-icon-color-active : #32db64;  
  
  //bgcolor
  $list-border-color:grey;
  $list-background-color:white;
  
  $tabs-background:white;
  
  
  $background-color:#f5f5f5;
}